body
{
    background-image:url("../../assets/img/d1665e5238bd4699e521f2803b162c57.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.flex-container
{
    display:flex;
    height: 150px;
    border: 15px solid darkred;
    margin:5px;
    max-width:315px;
}

.item
{
    border: 2px solid darkred;
    min-width: 100px;
    font-size: 24px;
    height:50%;/*50% do container*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

}

.nowrap
{
    flex-wrap: nowrap;
}

.wrap
{
    flex-wrap: wrap;
}

.wrap-reverse
{
    flex-wrap: wrap-reverse;
}

.blue
{
    background-color: darkblue;
}

.green
{
    background-color: darkgreen;
}

.orange
{
    background-color: darkorange;
}

h1
{
    background-color: rgba(245, 255, 250, 0.35);
    max-width: 315px;
    padding:5px;
    margin: 0 5px;
    text-align: center;
}