body
{
    margin:auto;
    background-color: #483a3a;
}

body h1
{
    margin-top: 60px;
    font-size: 28px;
    font-family: "DejaVu Sans Mono";
    margin-left: 20px;
    color: #B5945E;
}

body h2
{
    font-size: 16px;
    font-family: "DejaVu Sans Mono";
    margin-left: 20px;
}

.column-container
{
    display: flex;
    flex-wrap:wrap;
}



.flex-container
{
    width: 600px;
    border: 1px solid #B5945E;
    margin: 0;
    display: flex;
    margin:15px;
    padding: 10px;
    margin-bottom: 20px;
}

.c-flex-container
{
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid #B5945E;
    margin: 0;
    display: flex;
    margin:15px;
    padding: 10px;
    margin-bottom: 20px;
}

.item
{
    background-color: saddlebrown;
    color: #B5945E;
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-family: "DejaVu Sans Mono";
}

.flex-start
{
    justify-content: flex-start;
}

.flex-end
{
    justify-content: flex-end;
}

.center
{
    justify-content: center;
}

.space-between
{
    justify-content: space-between;
}

.space-around
{
    justify-content: space-around;
}
