*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #71b7e6;
    margin: auto;
    height: 100vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#box
{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#box h1
{
    margin: 0 0 20px 0;
}

div#options
{
    display: inline-block;


}

#options span#opclaro
{
    display: inline-block;
    background-color: #a1c4dc;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#options span#opclaro:hover
{
    cursor: pointer;
}

#options span#opescuro
{
    display: inline-block;
    background-color: #15252c;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#options span#opescuro:hover
{
    cursor: pointer;
}